.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 90px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: white;
    background: rgb(2, 24, 90);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.responsive-navbar-div {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.responsive-navbar-second-div {
    position: relative;
}

.responsive-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: white;
    background: rgb(2, 24, 90);
}

.pages {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.pages p:hover {
    color: grey;
}

.mat-icon {
    margin-top: 1px;
}

.links-shown {
    width: 100%;
    padding-left: 30px;
    position: absolute;
    background: #022a5a;
    color: white;
    animation: shown 0.2s ease-in;
}

@keyframes shown {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(-50%);
        opacity: 0.5
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.links-shown p:hover {
    color: grey;
}

.links-shown p {
    padding-block: 5px;
    font-weight: 500;
    width: auto;
}


@media (max-width: 767px) {
    .responsive-navbar {
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar h3 {
        font-size: 18px;
    }
}
