<div>
    <app-navbar></app-navbar>
    <div class="main-div">
        <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
            <h1>Zoey's Blog</h1>
        </div>
        <div class="post-area">
            <div class="recent-posts">
                <h2>Recent posts</h2>
                <button class="add-post"><mat-icon>add_circle</mat-icon>Add new post</button>
            </div>
            <ngx-masonry [options]="{ gutter: 44 }" style="width: 91.5vw;" [ordered]="true" [ngClass]="{'intersected': intersected}">
                <div ngxMasonryItem class="masonry-item" [prepend]="true" *ngFor="let item of blogPosts" #blogPosts>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{ item.title }}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../../../assets/vintage.jpg">
                        <mat-card-content>
                            {{item.description}}
                        </mat-card-content>
                        <div class="clickables-div">
                            <div class="button-div">
                                <button class="hover">Read More<mat-icon>arrow_right_alt</mat-icon></button>
                            </div>
                            <div class="icon-div">
                                <mat-icon class="hover">create</mat-icon>
                                <mat-icon class="hover">delete</mat-icon>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </ngx-masonry>  
        </div>
    </div>
</div>


