<div>
    <app-navbar class="navbar"></app-navbar>
    <div class="main-div">
        <div class="area" [style.background-image]="'url(' + backgroundImageUrl + ')'">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <h1>{{(blogName | async)?.blogName}}</h1>
        </div>
        <div class="post-area">
            <div class="recent-posts">
                <p>My mother</p>
                <h2>Recent posts</h2>
                <button class="add-post hover" routerLink="/create-post">
                    <mat-icon>add_circle</mat-icon>Add new post
                </button>
            </div>
            <ngx-masonry [options]="{ gutter: 44 }" style="width: 100%;" [ordered]="true"
                [ngClass]="{'intersected': intersected}">
                <div ngxMasonryItem class="masonry-item" [prepend]="true" *ngFor="let post of blogPosts">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                {{post.text | title}}
                            </mat-card-title>
                        </mat-card-header>
                        <img class="mat-image" mat-card-image src="{{post.text | image}}">
                        <mat-card-content>
                            {{post.text | description | shorten: 20}}
                        </mat-card-content>
                        <div class="clickables-div">
                            <div class="button-div">
                                <button class="hover" [routerLink]="['/read-more', post.id]">Read More<mat-icon>
                                        arrow_right_alt</mat-icon></button>
                            </div>
                            <div class="icon-div">
                                <mat-icon class="hover" [routerLink]="['/edit-post', post.id]">create</mat-icon>
                                <mat-icon class="hover" (click)="delete(post)">delete</mat-icon>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </ngx-masonry>
        </div>
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>