.container {
    height: 100px;
    width: 100%;
    background: rgb(2, 24, 90);
    color: white;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-weight: 700;
}

.copyright {
    padding-top: 3px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3px;
}

fa-icon {
    padding-right: 5px;
}

.contact fa-icon {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 767px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 11px;
    }

    h2 {
        font-size: 15px;
    }

    .contact fa-icon {
        padding-right: 2px;
        padding-left: 2px;
    }

}